*{
    max-width: 100%;
    outline:none;
    box-sizing:border-box;
}
    
    body{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin:0;
        background:#f3f3f3;
}
.zz{
    background:white;
    margin-bottom:20px;
    text-align: left;
    padding:10px;
    border-bottom:1Px solid #c1c1c1;
}
.d{
    text-align: left;
    color: rgb(8, 7, 7);
}
.heads{
    background: rgba(24, 24, 16, .15);
    border-radius: 18px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.a{
    text-align: left;
}
p{
    color: rgb(3, 3, 3);
    text-align: left;
}
.m{
    font-size: 22px;
    color: rgb(3, 3, 3);
}
.colo{
    text-align: left;
    padding:60px 44px;
display:inline-block;
  background:rgba(24, 24, 16, .15);
  border-radius:4px;
  box-shadow:0 0 6px #d1d1d1;
 
  width:300px;
}

    input{
        background-color: #eef1f2fa;
        font-size:1.1em;
        border:1px solid #fdf7f7e8;
        padding:10px;
        width:100%;
        border-radius:4px; 
   
  }
 

button{
    text-align: center;
    width:100%;
    background:#e90505fa;
    padding:10px;
    border:none;
    color:rgb(249, 248, 248);
    border-radius:4px;
    font-size:1.1em;
    font-weight:bold;
   }

main{
    text-align:center;
}
.heads{
    width:900px;
    padding:70px;
    display:inline-block;
    text-align:left;
}


label{
    padding:10px 0;
    display:block;
}

button{
    margin:20px 0;
}

@media (max-width:800px){
    .heads{padding:20px;}
}